<form class="border text-center col-9 mt-5 mx-auto  shadow-lg rounded reservation-form" id="reservation-form" guest_id="{{userId}}">
  <h3 class="display-5 mt-3">Reservation</h3>
  <div class="form-group">
    <label for="guestsQty">Number of guests</label>
    <select class="form-control" id="guestsQty">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>
  <div class="form-inline d-flex justify-content-center">
    <label for="dateFrom">From:</label>
    <input type="date" class="form-control" id="dateFrom">
    <label for="dateTo">To:</label>
    <input type="date" class="form-control" id="dateTo">
  </div>
  <h5 class="display-5 mt-3">Select your #:</h3>
  {{!-- #s --}}
  <div class="d-flex flex-lg-nowrap flex-wrap align-content-center justify-content-center ml-2 mr-2">
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 1</p>
            <p>{{rooms.0.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="1" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 2</p>
            <p>{{rooms.1.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="2" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 3</p>
            <p>{{rooms.2.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="3" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 4</p>
            <p>{{rooms.3.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="4" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 5</p>
            <p>{{rooms.4.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="5" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 6</p>
            <p>{{rooms.5.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="6" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 7</p>
            <p>{{rooms.6.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="7" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 8</p>
            <p>{{rooms.7.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="8" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"># 9</p>
            <p>{{rooms.8.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="9" aria-label="...">
        </div>
        </div>
        <div class="card m-1" style="max-width: 7.5rem;">
        <img src="./img/room.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text text-nowrap"><small># 10</small></p>
            <p>{{rooms.9.price}}</p>
        </div>
        <div class="form-check">
            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="10" aria-label="...">
        </div>
        </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
</form>  

<script src="./js/reservation.js"></script>